@charset "utf-8";
.c_l_c ul li{ margin-bottom:20px; border-bottom:1px #f0f0f0 solid; padding-bottom:20px;}
.c_l_c_l{ width:230px; height:135px; margin-right:15px;}
.c_l_c_r{ width:350px; line-height:26px; padding-top:5px;}
.c_l_c_r a.style_1{ font-size:14px; font-weight:bold; display:block; margin-bottom:5px;}